﻿@{
    ViewData["Title"] = "Home Page";
}

<main class="container">
    <search-panel></search-panel>
</main>

@section scripts {
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/js/site.js"></script>
}
