﻿<div class="well well-sm" style="margin-bottom:0.5em">
    <strong>{{point.placeType}} Name:</strong> {{point.commonName}}<br>
    <strong>Id:</strong> {{point.id}}<br>
    <strong>lat:</strong> {{point.lat}}<br>
    <strong>lon:</strong> {{point.lon}} <br>
    <!--<a ng-href="{{point.url}}">www link</a>-->
</div>