﻿<div class="well well-sm" style="margin-bottom: 0.5em">
    <strong>Type:</strong> {{dayforecast.forecastType}} <br>
    <strong>Text:</strong> <div ng-bind-html="forecastText()"></div><br>
    <strong>Summary:</strong> {{dayforecast.forecastSummary}}<br>
</div>