﻿<div class="row" style="margin-bottom: 1em;">
    <ul class="nav nav-pills nav-justified">
        <li ng-class="{'active':MenuItem == 1}"><a ng-click="ChangeMenu($event, 1)">AirQuality</a></li>
        <li ng-class="{'active':MenuItem == 2}"><a ng-click="ChangeMenu($event, 2)">BikePoints</a></li>
        <li ng-class="{'active':MenuItem == 3}"><a ng-click="ChangeMenu($event, 3)">BikePoint Search By Id</a></li>
        <li ng-class="{'active':MenuItem == 4}"><a ng-click="ChangeMenu($event, 4)">BikePoint Search Within Bounding Box</a></li>
        <li ng-class="{'active':MenuItem == 5}"><a ng-click="ChangeMenu($event, 5)">BikePoint Search Within The Locus Defined</a></li>
        <li ng-class="{'active':MenuItem == 6}"><a ng-click="ChangeMenu($event, 6)">BikePoint Search By Their Name</a></li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        Mode: <strong>{{Header}}</strong>
    </div>

    <div class="panel-body" ng-switch="MenuItem">

        <div ng-switch-when="1">
            <button class="btn btn-success" ng-click="GetAir($event)">Get Actual Air Information</button>
        </div>

        <div ng-switch-when="2">
            <button class="btn btn-success" ng-click="GetAllBikePoints($event)">Get Bike Points</button>
        </div>

        <div ng-switch-when="3">
            <form class="col-md-12">
                <div class="form-group">
                    <input class="form-control" type="text" ng-model="id" />
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="GetBikePointsById($event, id)">Search Bike Point</button>
                </div>
            </form>
        </div>

        <div ng-switch-when="4">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">swLat</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" ng-model="swLat" ng-required="true" step="any" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">swLon</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" ng-model="swLon" ng-required="true" step="any" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">neLat</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" ng-model="neLat" ng-required="true" step="any" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">neLon</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" ng-model="neLon" ng-required="true" step="any" />
                    </div>
                </div>
                <button ng-class="{'disabled': form.$invalid}" class="btn btn-success" ng-click="GetBikePointsBySquare($event, swLat, swLon, neLat, neLon)">Search Bike Point</button>
            </form>
        </div>
        <div ng-switch-when="5">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">lat</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" ng-model="lat" ng-required="true" step="any" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">lon</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" ng-model="lon" ng-required="true" step="any" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">radius</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="number" ng-model="radius" ng-required="true" step="any" />
                    </div>
                </div>
                <button ng-class="{'disabled': form.$invalid}" class="btn btn-success" ng-click="GetBikePointsByCircle($event, lat, lon, radius)">Search Bike Point</button>
            </form>
        </div>
        <div ng-switch-when="6">
            <form name="form" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" ng-model="Name" ng-required="true" step="any" />
                    </div>
                </div>
                <button ng-class="{'disabled': form.$invalid}" class="btn btn-success" ng-click="GetBikePointsByName($event, Name)">Search Bike Point</button>
            </form>
        </div>
        <div ng-hide="MenuItem == 1 || !Data">
            <h3>Search Results(Total {{Data.length}}):</h3>
            <hr>
            <div ng-repeat="bikePoint in Data">
                <bike-point point="bikePoint"></bike-point>
            </div>
        </div>
        <div ng-show="MenuItem === 1 && AirInfo">
            <h3>AirQuality info:</h3>
            <hr>
            <div ng-repeat="dayForecast in AirInfo.currentForecast">
                <forecast dayforecast="dayForecast"></forecast>
            </div>
            <div style="color: lightgray; font-size: small;">
                <p>{{AirInfo.disclaimerText}}</p>
            </div>
        </div>
        <div ng-show="NotFound">
            <p style="color: red; font-weight: bold;">Not Found!</p>
        </div>
        <!--<button class="btn btn-default" ng-click="GetAir()">Get Air Quality</button>-->
    </div>
</div>
